In [2]:
import re
import os
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('rechtspraak.db')
c = conn.cursor()

In [4]:
pd.DataFrame(c.execute('''SELECT * FROM uitspraken_meta''').fetchmany(10))

,0,1,2,3
0,ECLI:NL:HR:1999:AA2833,"ECLI:NL:HR:1999:AA2833, Hoge Raad, 12-05-1999,...",-,2013-04-04T15:46:26+02:00
1,ECLI:NL:HR:1999:AA2862,"ECLI:NL:HR:1999:AA2862, Hoge Raad, 22-09-1999,...",-,2013-04-04T15:46:47+02:00
2,ECLI:NL:HR:1999:AA2863,"ECLI:NL:HR:1999:AA2863, Hoge Raad, 22-09-1999,...",-,2013-04-04T15:46:47+02:00
3,ECLI:NL:HR:1999:AA2867,"ECLI:NL:HR:1999:AA2867, Hoge Raad, 22-09-1999,...",-,2013-04-04T15:46:50+02:00
4,ECLI:NL:HR:1999:AA2868,"ECLI:NL:HR:1999:AA2868, Hoge Raad, 22-09-1999,...",-,2013-04-04T15:46:51+02:00
5,ECLI:NL:HR:1999:AA2869,"ECLI:NL:HR:1999:AA2869, Hoge Raad, 22-09-1999,...",-,2013-04-04T15:46:51+02:00
6,ECLI:NL:HR:1999:AA2871,"ECLI:NL:HR:1999:AA2871, Hoge Raad, 22-09-1999,...",-,2013-04-04T15:46:53+02:00
7,ECLI:NL:HR:1999:AA2872,"ECLI:NL:HR:1999:AA2872, Hoge Raad, 22-09-1999,...",-,2013-04-04T15:46:53+02:00
8,ECLI:NL:HR:1999:AA2873,"ECLI:NL:HR:1999:AA2873, Hoge Raad, 22-09-1999,...",-,2013-04-04T15:46:53+02:00
9,ECLI:NL:HR:1999:AA2874,"ECLI:NL:HR:1999:AA2874, Hoge Raad, 22-09-1999,...",-,2013-04-04T15:46:54+02:00

In [5]:
s = c.execute('SELECT COUNT(*) FROM UITSPRAKEN_META').fetchall()[0]
s

(29043,)

In [6]:
summary_counts = c.execute(''' SELECT * FROM (
                SELECT SUMMARY, COUNT(*) AS cnt
                FROM UITSPRAKEN_META
                GROUP BY SUMMARY
            ) ORDER BY CNT DESC
''') #.fetchall()
pd.DataFrame(summary_counts.fetchmany(20))

                                                    0     1
0                                                   -  5426
1   De Hoge Raad heeft het beroep in cassatie afge...   860
2                                        HR: 81.1 RO.   756
3   HR verklaart het beroep in cassatie n-o met to...   401
4            HR verklaart het beroep in cassatie n-o.   288
5                                   HR: art. 81.1 RO.   253
6   De Hoge Raad heeft het beroep in cassatie niet...   239
7   De Hoge Raad heeft het beroep in cassatie afge...   203
8   De Hoge Raad heeft het beroep in cassatie niet...   192
9   De Hoge Raad heeft het beroep in cassatie afge...   179
10                                        Herziening.   137
11                                   HR: art. 80a RO.   108
12                                         HR: 81 RO.    98
13                                    HR: art. 81 RO.    67
14                                         Herziening    64
15                                            KB-Lux.    55
16  De Hoge Raad verklaart het beroep in cassatie ...    49
17  De Hoge Raad heeft het beroep in cassatie afge...    45
18                                          HR: 81RO.    45
19  De Hoge Raad heeft het beroep in cassatie onge...    43

In [7]:
lenid_counts = c.execute(''' SELECT length(id), count(*) FROM UITSPRAKEN_META group by length(id)
''')
pd.DataFrame(lenid_counts.fetchall())

    0      1
0  17     37
1  18    356
2  19   2524
3  20   4005
4  22  22121

In [8]:
def nr_of_fields_id(text):
    return len(text.split(':'))

def year_from_id(text):
    return text.split(':')[3]

def instantie_from_id(text):
    return text.split(':')[2]

conn.create_function('nr_of_fields_id', 1, nr_of_fields_id)
conn.create_function('year_from_id', 1, year_from_id)
conn.create_function('instantie_from_id', 1, instantie_from_id)
conn.commit()

In [9]:
ECLIs = c.execute('SELECT id FROM uitspraken_meta where year_from_id(id) = 2014').fetchmany(10)
ECLIs = [s[0] for s in ECLIs]
ECLIs

[]

In [10]:
nrfields_counts = c.execute(''' SELECT nr_of_fields_id(id), count(*) FROM UITSPRAKEN_META group by nr_of_fields_id(id)
''')
pd.DataFrame(nrfields_counts.fetchall())

   0      1
0  5  29043

In [11]:
instantie_counts = c.execute(''' SELECT instantie_from_id(id), count(*) 
                FROM UITSPRAKEN_META group by instantie_from_id(id) 
''')
pd.DataFrame(instantie_counts.fetchall())

    0      1
0  HR  29043

In [12]:
year_counts = c.execute(''' SELECT year_from_id(id), count(*) 
                FROM UITSPRAKEN_META group by year_from_id(id) 
                order by year_from_id(id) 
''')
pd.DataFrame(year_counts.fetchall())

       0     1
0   1968     1
1   1984     1
2   1988     1
3   1989     1
4   1991     2
5   1992     6
6   1993     3
7   1994    84
8   1995   332
9   1996   355
10  1997   369
11  1998   365
12  1999   489
13  2000   829
14  2001  1073
15  2002  1155
16  2003  1099
17  2004  1127
18  2005  1215
19  2006  1237
20  2007  1268
21  2008  1354
22  2009  1585
23  2010  2218
24  2011  2330
25  2012  2456
26  2013  2195
27  2014  2224
28  2015  2107
29  2016  1562

In [15]:
#How many 'uitspraken' do we have?
c.execute('''select count(*) from uitspraken''').fetchall()

[(27057,)]

In [13]:
#How many links do we have?
c.execute('''select count(distinct id), count(*) from uitspraken_links''').fetchall()

[(1837, 3332)]

In [14]:
#How many of those are to other HR cases?
c.execute('''select count(distinct l.id), count(*) 
            from uitspraken_links l join 
                ( select id from uitspraken_meta ) s
                on s.id = l.reference
        ''').fetchall()

[(1646, 2502)]

In [17]:
#In which year did they link?
year_counts = c.execute(''' SELECT year_from_id(id), count(*) 
                FROM uitspraken_links group by year_from_id(id) 
                order by year_from_id(id) 
''')
pd.DataFrame(year_counts.fetchall())

      0     1
0  2013   406
1  2014  1119
2  2015  1396
3  2016   411

In [37]:
c.close()